/*proprietà generali*/

*{
    margin: 0;
    padding: 0;
    font-family: Century, sans-serif;
    /*background-image: radial-gradient(circle, var(--dark-green), var(--light-green)); */
}


:root{
    --dark-green: 	#2c6d48;
    --black: #000;
    --white: #fff;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}



/*sfondi e caratteristiche generali*/

.container{
    width: 100%;
    height: 100vh;
    overflow:  hidden;
    position: relative;
    box-sizing: border-box;
    background-image: url(/immagini/sfondo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: change 60s infinite ease-in-out;
    overflow-y: scroll;
}

@keyframes change{
    0%
    {
        background-image: url(immagini/sfondo1.jpg);
    }
    20%
    {
        background-image: url(immagini/sfondo2.jpg);
    }
    40%
    {
        background-image: url(immagini/sfondo3.jpg);
    }
    60%
    {
        background-image: url(immagini/sfondo4.jpg);
    }
    80%{
        background-image: url(immagini/sfondo5.jpg);
    }
    100%
    {
        background-image: url(immagini/sfondo1.jpg);
    }
}

/*fascia superiore*/

header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0 0; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}


header .logo{
    position: relative;
    width: 3.5em;
    cursor: pointer;
}

header nav {
    flex: 1;
    text-align: right;
}


header ul li {
    list-style: none;
    display: inline-block;
    margin-top: 0.2em;
    min-height: 20px;
    margin-right: 10px;
    margin-left: auto;
    margin-bottom: 1px;;
    font-size: 25px;
}

nav ul li a {
    display: inline-block;
    vertical-align: middle; 
    text-decoration: none;
    color: var(--dark-green);
    font-size: 20px;
    padding: 5px 15px;
    border: 1px solid transparent;
    transition: background-color 0.2s ease, color 0.2s ease;
}

nav ul li a:hover {
    background-color: var(--dark-green);
    color: var(--white);
}


.btn-gear {
    padding: 5px 5px;
    font-size: 25px;
    border: none;
    background-color: transparent;
    color: var(--dark-green);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.btn-gear:hover{
    transform: rotate(360deg);
}

.bheader{
    padding: 5px 15px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: var(--dark-green);
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
}

.bheader:hover{
    background-color: var(--dark-green);
    color: var(--white);
}

.banner{
    position: relative;
    width: 100%;
    height: 100
}

/*parte restante del sito*/

table, th, td {
    border-collapse: collapse;
    padding: 5px;
}

table{
    width: 100%;
    height: 100vh; 
    margin-top: 2em;
}

td {
    width: 5%; /* larghezza standard */
    height: 11.11%; /* altezza standard */
}
td[colspan="10"] {
    width: 50%; /* 50px * 5 */
}

/*carte, proporzione tra altezza e larghezza 1.386*/

.conteinercard{
    height: 228.69px;
    width: 165px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    perspective: 600px;
}

.conteinercard:hover > .card{
    cursor: pointer;
    transform:  rotateY(180deg);
  }

.card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.front,
.back {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: absolute;
    backface-visibility: hidden;
    
}

.front{
    background-image: url(immagini/retro5.jpg);
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.back{
    background-color: var(--white);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


/*bottoni delle carte*/
.buttoncard{
    border: var(--black);
    position: relative;
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 200;
    padding: 7px 20px;
    transition: 0.5s;
}

.buttoncard:hover{
    background: var(--dark-green);
    color: var(--white);
    letter-spacing: 0.25em;
}

<!--parte di codice dedicata al modal-->
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }