/*Proprietà generali*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    /*background-image: radial-gradient(circle, var(--dark-green), var(--light-green)); */
}

:root{
    --dark-green: 	#2c6d48;
    --dark-dark-green: #163c27;
    --black: #000;
    --white: #fff;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}


/*fascia superiore*/

header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    padding: 4px 10px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0 0; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}


.logo{
    position: relative;
    width: 4em;
    cursor: pointer;
}

.button-container{
    display: flex;
    justify-content: center; 
    align-items: right;   
    flex-wrap: nowrap; 
    vertical-align: right;
    display: inline-block;
    text-align: right;
    margin-top: 0.1em;
    min-height: 10px;
    margin-left: auto;
    margin-bottom: 1px;
    font-size: 22px;
    
}

.bheader{
    vertical-align: right; 
    text-decoration: none;
    padding: 0px 6px;
    font-size: 20px;
    background-color: transparent;
    color: var(--dark-green);
    cursor: pointer;
    margin-right: auto;
}

.bheader:hover{
    background-color: var(--dark-green);
    color: var(--white);
}


.btn-gear {
    padding: 5px 5px;
    font-size: 25px;
    border: none;
    background-color: transparent;
    color: var(--dark-green);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.btn-gear:hover{
    transform: rotate(360deg);
}




/*!--parte di codice dedicata al modal-->*/

*, *::after, *::before {
    box-sizing: border-box;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    z-index: 40000;
  }

  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .modal-body {
    padding: 10px 15px;
  }

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: 200ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.70);
    pointer-events: none;
    display: visible; 
    z-index: 20000;
  }

  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

/*========= Fine header =========*/


/*sfondi e caratteristiche generali*/

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow:  hidden;
    position: relative;
    box-sizing: border-box;
    background-image: url(immagini/sfondo1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    overflow-x: none;
}




.left-side {
    flex: 2;
}
.right-side {
    flex: 1;
}


/*differenze tra i device*/
@media all and (max-width:768px){
    .container{
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
        flex-direction: column;
    }
    .left-side, .right-side {
        flex: 1;
    }
}